---
apiVersion: apps/v1
kind: Deployment
metadata:
 name: devops
spec:
 replicas: 5
 selector:
  matchLabels:
   app: devops
 template:
  metadata:
   labels:
    app: devops
  spec:
   containers:
    - name: devops
      image: eudreyagudelo/devops:latest
      imagePullPolicy: Always
      ports:
      - containerPort: 5000
        name: devops
---
apiVersion: v1
kind: Service
metadata:
name: devops
spec:
ports:
  - port: 5000
    targetPort: 5000
selector:
  app: devops
  tier: devops
type: LoadBalancer
